.navbar{
    background: #024fc3;
}

li > a.nav-link:hover{
    color: #ff9000 !important;
    transform: scale(1.3);
    transition: 0.5s;
    margin-right: 10px;
}

.fs-30{
    font-size: 19px !important;
}
.btn-contact{
    background: #ff9000 !important;
    color: #fff !important;
    border: 1px solid #ff9000 !important;
}

.btn-contact:hover{
    background: #024fc3 !important;
    border: 1px solid #024fc3 !important;
    transition: 0.5s;
}
.sec{
    background: #ff9000 !important;
}
.pri{
    background: #024fc3 !important;
}

.text-c1{
    color: #024fc3 !important;
}
.text-c2{
    color: #ff9000 !important;
}
.justify{
    text-align: justify !important;
}



  